.menu a {
    color: #666;
}
a:hover{
    color: #e1251b;
}

.fs-1 {
    position: relative;
}

.fs-1 .menu {
    padding: 10px;
    padding-left: 18px;
}

/* 左侧菜单栏列表 */
.fs-1 .menu li {
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    overflow: hidden;
}

.fs-1 .menu li a {
    font-size: 14px;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
}

.fs-1 .menu li a:hover {
    color: #e1251b;
}

.fs-1 .menu li.menu-active {
    background-color: #d9d9d9;
}

/* 右侧内容区 */
.menu-content {
    position: absolute;
    top: 0;
    left: 190px;
    padding: 20px 0 10px;
    box-sizing: border-box;
    z-index: 100;
    width: 998px;
    min-height: 470px;
    border: 1px solid #f7f7f7;
    background-color: #fff;
    -webkit-box-shadow: 2px 0 5px rgba(0, 0, 0, .3);
    box-shadow: 2px 0 5px rgba(0, 0, 0, .3);
    display: none;
}

.menu-content .tabs {
    padding-left: 20px;
    height: 24px;
}

.menu-content .tabs a {
    display: inline-block;
    margin-right: 10px;
    padding: 0 10px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    background-color: #333;
    color: #fff;
}

.menu-content .tabs a:hover {
    background-color: #c81623;
}

.menu-content .tabs a i {
    margin-left: 5px;
    font-size: 10px;
}

.menu-content .details {
    padding: 10px 0 0 20px;
    font-size: 12px;
}

.menu-content .details dl {
    padding: 3px 0;
}

.menu-content .details dl dt,
.menu-content .details dl dd {
    float: left;
}

.menu-content .details dl::after {
    content: "";
    clear: both;
    display: block;
} 

.menu-content .details dt {
    width: 80px;
    text-align: right;
    font-weight: 700;
}

.menu-content .details dt a {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin: 3px 0;
    padding: 0 7px;
    white-space: nowrap;
}

.menu-content .details dt i {
    float: right;
    margin-left: 5px;
    font-size: 10px;
}

.menu-content .details dd a {
    height: 16px;
    line-height: 16px;
    display: inline-block;
    margin: 3px 0;
    padding: 0 7px;
    white-space: nowrap;
}
