.news {
    overflow: hidden;
    height: 130px;
    background: #fff;
}

.news2 .news_hd,
.news .news-hd {
    height: 20px;
    padding: 10px 20px 0;
    position: relative;
    line-height: 20px;
    margin-bottom: 8px;
}

.news .news-hd .news_tit {
    display: inline-block;
    font-size: 14px;
    margin-left: 15px;
    color: #333;
}

.news .news_more {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 12px;
    color: #999;
}

.news .news_more .iconfont {
    font-size: 12px;
}

.news .news_list {
    position: relative;
    margin: 0 15px;
    height: 88px;
}

.news .news_item {
    max-width: 160px;
    width: 160px;
    height: 16px;
    line-height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #999;
    margin-bottom: 6px;
}

.news .news_item a {
    font-size: 12px;
}

.news_tag {
    display: inline-block;
    position: relative;
    font-size: 12px;
    height: 16px;
    width: 35px;
    line-height: 16px;
    text-align: center;
    vertical-align: 0;
    color: #e1251b;
    background-color: rgba(225, 37, 27, .08);
    margin-right: 6px;
}