<div class="news2">
    <div class="news_hd" aria-label="京东快报">
        <h5 class="news_tit">京东快报</h5><a href="//kuaibao.jd.com/?ids=259662969,248787652,265291768,267136169"
            target="_blank" class="news_more" clstag="h|keycount||head|news_a">更多 <i class="iconfont">&#xe625;</i></a>
    </div>
    <ul class="news_list">
        <li class="news_item news_item__recommend"><a href="//kuaibao.jd.com/article?id=259662969" target="_blank"
                class="news_link" clstag="h|keycount|head|news_b01"><span class="news_tag">热门</span>大屏全能型办公本，小新Pro
                16当仁不让！</a></li>
        <li class="news_item news_item__recommend"><a href="//kuaibao.jd.com/article?id=248787652" target="_blank"
                class="news_link" clstag="h|keycount|head|news_b02"><span
                    class="news_tag">热门</span>拥有天龙PMA-A110旗舰音响，也就拥有了全世界</a></li>
        <li class="news_item news_item__recommend"><a href="//kuaibao.jd.com/article?id=265291768" target="_blank"
                class="news_link" clstag="h|keycount|head|news_b03"><span
                    class="news_tag">热门</span>完达山菁采幼儿配方奶粉，陪伴宝宝健康成长每一天</a></li>
        <li class="news_item news_item__recommend"><a href="//kuaibao.jd.com/article?id=267136169" target="_blank"
                class="news_link" clstag="h|keycount|head|news_b04"><span
                    class="news_tag">推荐</span>时刻做好防灾准备，家用睡袋常备准没错</a></li>
    </ul>
</div>